In [1]:
import pandas as pd

In [2]:
path_csv_gdp = "/Users/margheritatonon/codinglab/data/gdp.csv"
gdpdata = pd.read_csv(path_csv_gdp)
gdpdata

,Entity,Code,Year,"GDP per capita, PPP (constant 2017 international $)"
0,Afghanistan,AFG,2002,1280.4631
1,Afghanistan,AFG,2003,1292.3335
2,Afghanistan,AFG,2004,1260.0605
3,Afghanistan,AFG,2005,NaN
4,Afghanistan,AFG,2006,1366.9932
...,...,...,...,...
6557,Zimbabwe,ZWE,2018,2399.6216
6558,Zimbabwe,ZWE,2019,2203.3967
6559,Zimbabwe,ZWE,2020,1990.3195
6560,Zimbabwe,ZWE,2021,2115.1445
6561,Zimbabwe,ZWE,2022,2207.9570

In [47]:
path_csv_medals = "/Users/margheritatonon/codinglab/data/olympics_medals.csv"
medalsdata = pd.read_csv(path_csv_medals)
medalsdata

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,NaN,False
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,NaN,False
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,NaN,False
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,NaN,False
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
316829,2022 Winter Olympics,62,NED,Bobsleigh,"Monobob, Women",19019671,Karlien Sleper,148662,16,NaN,False
316830,2022 Winter Olympics,62,SVK,Bobsleigh,"Monobob, Women",19019671,Viktória Čerňanská,138683,17,NaN,False
316831,2022 Winter Olympics,62,KOR,Bobsleigh,"Monobob, Women",19019671,Kim Yu-Ran,137542,18,NaN,False
316832,2022 Winter Olympics,62,JAM,Bobsleigh,"Monobob, Women",19019671,Jazmine Fenlator-Victorian,128682,19,NaN,False
316833,2022 Winter Olympics,62,UKR,Bobsleigh,"Monobob, Women",19019671,Lidiya Hunko,149047,20,NaN,False

In [8]:
print(gdpdata.columns)
print(gdpdata.shape)
print(gdpdata.info()) #concise summary of the dataframe

Index(['Entity', 'Code', 'Year',
       'GDP per capita, PPP (constant 2017 international $)'],
      dtype='object')
(6562, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6562 entries, 0 to 6561
Data columns (total 4 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Entity                                               6562 non-null   object
 1   Code                                                 6133 non-null   object
 2   Year                                                 6562 non-null   int64
 3   GDP per capita, PPP (constant 2017 international $)  6441 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 205.2+ KB
None

In [12]:
print(medalsdata.columns)
print(medalsdata.shape)
print(medalsdata.info())

Index(['edition', 'edition_id', 'country_noc', 'sport', 'event', 'result_id',
       'athlete', 'athlete_id', 'pos', 'medal', 'isTeamSport'],
      dtype='object')
(316834, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316834 entries, 0 to 316833
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   edition      316834 non-null  object
 1   edition_id   316834 non-null  int64
 2   country_noc  316834 non-null  object
 3   sport        316834 non-null  object
 4   event        316834 non-null  object
 5   result_id    316834 non-null  int64
 6   athlete      316834 non-null  object
 7   athlete_id   316834 non-null  int64
 8   pos          316834 non-null  object
 9   medal        44687 non-null   object
 10  isTeamSport  316834 non-null  bool
dtypes: bool(1), int64(3), object(7)
memory usage: 24.5+ MB
None

### data cleaning and processing

In [48]:
medalsdata["medal"].value_counts() #if empty column, that means they did not get a medal

medal
Gold      15072
Bronze    14939
Silver    14676
Name: count, dtype: int64

filling empty columns:

In [49]:
medalsdata["medal"].fillna("No", inplace = True)

/var/folders/wh/tb4v5qlx5ssbclxjxm11t28r0000gn/T/ipykernel_5110/2219562902.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  medalsdata["medal"].fillna("No", inplace = True)

In [50]:
medalsdata["medal"].value_counts()

medal
No        272147
Gold       15072
Bronze     14939
Silver     14676
Name: count, dtype: int64

splitting columns

In [51]:
#we want to split the edition column into year and edition
medalsdata["edition"]

0         1908 Summer Olympics
1         1908 Summer Olympics
2         1908 Summer Olympics
3         1908 Summer Olympics
4         1908 Summer Olympics
                  ...
316829    2022 Winter Olympics
316830    2022 Winter Olympics
316831    2022 Winter Olympics
316832    2022 Winter Olympics
316833    2022 Winter Olympics
Name: edition, Length: 316834, dtype: object

In [52]:
col = medalsdata["edition"].str.split(" ").str[0] #split finds the first space and splits the string there. then treat this as a string and take the first element, which is the year
col

0         1908
1         1908
2         1908
3         1908
4         1908
          ...
316829    2022
316830    2022
316831    2022
316832    2022
316833    2022
Name: edition, Length: 316834, dtype: object

In [53]:
medalsdata["year"] = col
medalsdata

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport,year
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,No,False,1908
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,No,False,1908
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,No,False,1908
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,No,False,1908
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,No,False,1908
...,...,...,...,...,...,...,...,...,...,...,...,...
316829,2022 Winter Olympics,62,NED,Bobsleigh,"Monobob, Women",19019671,Karlien Sleper,148662,16,No,False,2022
316830,2022 Winter Olympics,62,SVK,Bobsleigh,"Monobob, Women",19019671,Viktória Čerňanská,138683,17,No,False,2022
316831,2022 Winter Olympics,62,KOR,Bobsleigh,"Monobob, Women",19019671,Kim Yu-Ran,137542,18,No,False,2022
316832,2022 Winter Olympics,62,JAM,Bobsleigh,"Monobob, Women",19019671,Jazmine Fenlator-Victorian,128682,19,No,False,2022
316833,2022 Winter Olympics,62,UKR,Bobsleigh,"Monobob, Women",19019671,Lidiya Hunko,149047,20,No,False,2022

In [55]:
#now we look at the season:
col = medalsdata["edition"].str.split(" ").str[1]
col

0         Summer
1         Summer
2         Summer
3         Summer
4         Summer
           ...
316829    Winter
316830    Winter
316831    Winter
316832    Winter
316833    Winter
Name: edition, Length: 316834, dtype: object

In [56]:
medalsdata["season"] = col
medalsdata

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport,year,season
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,No,False,1908,Summer
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,No,False,1908,Summer
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,No,False,1908,Summer
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,No,False,1908,Summer
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,No,False,1908,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...
316829,2022 Winter Olympics,62,NED,Bobsleigh,"Monobob, Women",19019671,Karlien Sleper,148662,16,No,False,2022,Winter
316830,2022 Winter Olympics,62,SVK,Bobsleigh,"Monobob, Women",19019671,Viktória Čerňanská,138683,17,No,False,2022,Winter
316831,2022 Winter Olympics,62,KOR,Bobsleigh,"Monobob, Women",19019671,Kim Yu-Ran,137542,18,No,False,2022,Winter
316832,2022 Winter Olympics,62,JAM,Bobsleigh,"Monobob, Women",19019671,Jazmine Fenlator-Victorian,128682,19,No,False,2022,Winter
316833,2022 Winter Olympics,62,UKR,Bobsleigh,"Monobob, Women",19019671,Lidiya Hunko,149047,20,No,False,2022,Winter

In [57]:
#finding the gender
medalsdata["gender"] = medalsdata["event"].str.split(",").str[-1]
medalsdata

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport,year,season,gender
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,No,False,1908,Summer,Men
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,No,False,1908,Summer,Men
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,No,False,1908,Summer,Men
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,No,False,1908,Summer,Men
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,No,False,1908,Summer,Men
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316829,2022 Winter Olympics,62,NED,Bobsleigh,"Monobob, Women",19019671,Karlien Sleper,148662,16,No,False,2022,Winter,Women
316830,2022 Winter Olympics,62,SVK,Bobsleigh,"Monobob, Women",19019671,Viktória Čerňanská,138683,17,No,False,2022,Winter,Women
316831,2022 Winter Olympics,62,KOR,Bobsleigh,"Monobob, Women",19019671,Kim Yu-Ran,137542,18,No,False,2022,Winter,Women
316832,2022 Winter Olympics,62,JAM,Bobsleigh,"Monobob, Women",19019671,Jazmine Fenlator-Victorian,128682,19,No,False,2022,Winter,Women
316833,2022 Winter Olympics,62,UKR,Bobsleigh,"Monobob, Women",19019671,Lidiya Hunko,149047,20,No,False,2022,Winter,Women

In [58]:
medalsdata["gender"].value_counts()

gender
Men      210592
Women     85746
Open      16308
Mixed      3753
Boys        435
Name: count, dtype: int64

In [46]:
#genderdict = {"Women":"Female", "Men":"Male", "Boys":"Male", "Open":"Open", "Mixed":"Mixed"}
#medalsdata["gender"] = medalsdata["gender"].map(genderdict)

In [59]:
medalsdata.drop(columns = "pos", inplace = True)
medalsdata

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,medal,isTeamSport,year,season,gender
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,No,False,1908,Summer,Men
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,No,False,1908,Summer,Men
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,No,False,1908,Summer,Men
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,No,False,1908,Summer,Men
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,No,False,1908,Summer,Men
...,...,...,...,...,...,...,...,...,...,...,...,...,...
316829,2022 Winter Olympics,62,NED,Bobsleigh,"Monobob, Women",19019671,Karlien Sleper,148662,No,False,2022,Winter,Women
316830,2022 Winter Olympics,62,SVK,Bobsleigh,"Monobob, Women",19019671,Viktória Čerňanská,138683,No,False,2022,Winter,Women
316831,2022 Winter Olympics,62,KOR,Bobsleigh,"Monobob, Women",19019671,Kim Yu-Ran,137542,No,False,2022,Winter,Women
316832,2022 Winter Olympics,62,JAM,Bobsleigh,"Monobob, Women",19019671,Jazmine Fenlator-Victorian,128682,No,False,2022,Winter,Women
316833,2022 Winter Olympics,62,UKR,Bobsleigh,"Monobob, Women",19019671,Lidiya Hunko,149047,No,False,2022,Winter,Women

In [75]:
#athlete with the most medals:
allmedals = medalsdata[medalsdata["medal"] != "No"]
allmedals["athlete"].value_counts()

athlete
Michael Phelps          28
Larisa Latynina         18
Nikolay Andrianov       15
Marit Bjørgen           15
Edoardo Mangiarotti     13
                        ..
Dominic Ressel           1
Jasmin Grabowski         1
Giovanna Scoccimarro     1
Martyna Trajdos          1
Erin Jackson             1
Name: count, Length: 31643, dtype: int64

In [98]:
#count number of gold medals won by each country in 2020.
medals2020 = medalsdata[medalsdata["year"] == "2020"]
onlymedals2020 = medals2020[medals2020["medal"] != "No"]
onlygoldmedals2020 = onlymedals2020[onlymedals2020["medal"] == "Gold"]
onlygoldmedals2020["country_noc"].value_counts()

country_noc
USA    113
JPN     68
FRA     65
CHN     58
ROC     41
      ...
IND      1
AUT      1
HKG      1
EGY      1
BER      1
Name: count, Length: 65, dtype: int64

In [107]:
sorted = onlygoldmedals2020[["country_noc", "medal"]].groupby(by = "country_noc", as_index = False).count().sort_values(by = "medal", ascending = False)
top10goldmedals = sorted.iloc[0:10, :]
top10goldmedals.reset_index(inplace = True)
top10goldmedals.drop(columns = "index", inplace = True)
top10goldmedals

/var/folders/wh/tb4v5qlx5ssbclxjxm11t28r0000gn/T/ipykernel_5110/1078025803.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  country_noc  medal
0         USA    113
1         JPN     68
2         FRA     65
3         CHN     58
4         ROC     41
5         GBR     40
6         AUS     36
7         CAN     36
8         NED     33
9         NZL     29